.profile__info {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr min-content;
  margin: 26px 38px 33px 65px;
  gap: 8px 10px;
  width: 100%;
  max-width: 216px;
}

@media screen and (min-width: 1280px) {
  .profile__info {
    margin: 0 244px 0 30px;
    text-align: start;
    gap: 6px 18px;
    width: 100%;
    max-width: 336px;
  }
}