.card__delete-button {
  background-image: url(../../../images/basket.svg);
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 0;
  visibility: hidden;
}