.header {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  max-width: 880px;
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 45px;
    padding-bottom: 37px;
  }
}